<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RedAlert.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <add key="Game" value="noUrl" />
    <add key="Status" value="firsttime" />
    <add key="FreshT" value="5" />
    <add key="Date" value="136184774337051448" />
    <add key="Default_QQ" value="1" />
    <add key="Account_Num" value="0" />
    <add key="QQ1" value="" />
    <add key="MM1" value="" />
    <add key="QQ2" value="" />
    <add key="MM2" value="" />
    <add key="QQ3" value="" />
    <add key="MM3" value="" />
    <add key="QQ4" value="" />
    <add key="MM4" value="" />
    <add key="QQ5" value="" />
    <add key="MM5" value="" />
    <add key="QQ6" value="" />
    <add key="MM6" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
  </userSettings>
</configuration>